.Container{
    margin: 30px;
    align-content: center;
}
.Cards{
    border-radius: 20px;
    height: 200px;
}
Button{
    margin: 5px;
    margin-left: 5px;
}
img{
    width: 150px;
    margin-left: 10px;
}
h4{
    text-align: center;
    margin-bottom: 0px;
    margin-left: 50px;
}
.profile{
    display: inline;
}
